<!DOCTYPE html>
<html>
<head>
    <title>Jelena Simic NWP 3</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- <li><a routerLink="/login">Login</a></li> -->
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/read">Read</a></li>
                <li *ngIf="canCreateUsers"><a routerLink="/create">Create</a></li>
                <!-- <li><a routerLink="/edit">Edit</a></li> -->
            </ul>
        </nav>
    </header>
</body>
</html>

