<!DOCTYPE html>
<html>
<head>
    <title>Jelena Simic NWP </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a routerLink="/">Entity Extraction</a></li>
                <li><a routerLink="/language-detection">Language Detection</a></li>
                <li><a routerLink="/sentiment-analysis">Sentiment Analysis</a></li>
                <li><a routerLink="/text-similarity">Text Similarity</a></li>
                <li><a routerLink="/token-auth">Token Auth</a></li>
                <li><a routerLink="/history">History</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>

